.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 520px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 15px auto 0 126px;
}

.u-section-1 .u-icon-1 {
  width: 218px;
  height: 218px;
  margin: 22px auto 0 126px;
}

.u-section-1 .u-btn-1 {
  margin: 55px auto 0 169px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 520px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 136px 0 179px;
}

.u-section-1 .u-icon-2 {
  width: 197px;
  height: 197px;
  margin: 22px auto 0;
}

.u-section-1 .u-btn-2 {
  margin: 76px 212px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 86px;
    margin-left: 129px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 31px;
    margin-left: 74px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 448px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -22px;
    margin-left: 22px;
  }
}